In [28]:
import pandas as pd
import numpy as np
import statistics as stat

names = ('Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver')
ages = np.array([14, 12, 11, 10, 8, 6, 8])
brady_bunch = pd.DataFrame(ages, columns=['Age'], index= names)
brady_bunch

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [29]:
#original mean
np.mean(brady_bunch['Age'])

9.857142857142858

In [30]:
#original median
np.median(brady_bunch['Age'])

10.0

In [31]:
#original mode
stat.mode(brady_bunch['Age'])

8

In [32]:
#original variance
np.var(brady_bunch['Age'])

6.408163265306122

In [33]:
#original standard deviation
np.std(brady_bunch['Age'])

2.531435020952764

In [34]:
#original standard error
np.std(brady_bunch['Age']) / np.sqrt(len(brady_bunch['Age'])-1)

1.0334540197243194

In [9]:
brady_bunch.Age.describe()

count     7.000000
mean      9.857143
std       2.734262
min       6.000000
25%       8.000000
50%      10.000000
75%      11.500000
max      14.000000
Name: Age, dtype: float64

Best measure of central tendency? Median
Best measure of variance? Standard Deviation

In [35]:
#Change Cindy's birthday
brady_bunch.at['Cindy', 'Age'] = 7
brady_bunch

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     7
Oliver    8

In [36]:
#Cindy Updated Birthday Mean
np.mean(brady_bunch['Age'])

10.0

In [37]:
#Cindy Updated Birthday Median
np.median(brady_bunch['Age'])

10.0

In [38]:
#Cindy Updated Birthday Mode
stat.mode(brady_bunch['Age'])

8

In [39]:
#Cindy Updated Birthday Variance
np.var(brady_bunch['Age'])

5.428571428571429

In [40]:
#Cindy Updated Birthday Standard Deviation
np.std(brady_bunch['Age'])

2.32992949004287

In [41]:
#Cindy Updated Birthday Standard Error
np.std(brady_bunch['Age']) / np.sqrt(len(brady_bunch['Age'])-1)

0.951189731211342

After updating Cindy's birthday, the following changed:
    Central Tendency - Mean became 10
    Variance - Variance, Std Deviation and Standard Error all decreased.

In [42]:
#Substitute Jessica for Oliver
names = ('Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica')
ages = np.array([14, 12, 11, 10, 8, 6, 1])
brady_bunch = pd.DataFrame(ages, columns=['Age'], index= names)
brady_bunch

         Age
Greg      14
Marcia    12
Peter     11
Jan       10
Bobby      8
Cindy      6
Jessica    1

In [43]:
#Jessica Substitute Mean
np.mean(brady_bunch['Age'])

8.857142857142858

In [44]:
#Jessica Substitute Median
np.median(brady_bunch['Age'])

10.0

In [25]:
#Jessica Substitute Mode - no unique mode

In [45]:
#Jessica Substitute Variance
np.var(brady_bunch['Age'])

16.122448979591837

In [46]:
#Jessica Substitute Standard Deviation
np.std(brady_bunch['Age'])

4.015276949301485

In [47]:
#Jessica Substitute Standard Error
np.std(brady_bunch['Age']) / np.sqrt(len(brady_bunch['Age'])-1)

1.6392299502912864

Best measure of central tendency? Median still (1 is an outlier so mean is impacted)
Best measure of variance? Standard Deviation

In [24]:
#Question 5: Because SciPhi Phanatics is likely to not have an interest in a show like the
# Brady Bunch to begin with, I believe that is selction bias and can be removed from this 
# question. That being said, if we take the mean of the other 3, then I think that would be
# a more accurate representation - which is 20% as shown below.

np.mean([17, 20, 23])

20.0